
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/AboutUsStyleSheet.css"/>
<body class="box">
    <div class="container">
        <h1 style="font-size:4rem; font-weight: 700; letter-spacing: 4Px; margin-bottom: 3rem;"> About Us </h1>
        <h2 style="font-size:3rem;"> <em>Located in Oceanside CA</em> </h2>
        <section>
            @*<div class="image">
                    <img src="../images/PCAD2 Jonathan Garcia Picture-modified.png" width="400" height="400" alt="Jonathan Garcia" />
                </div>*@
            <h1 style="font-size:3rem"> Where it all started? </h1>
            <p style="font-size:2rem">
                DIB Cut's began with a vision. A vision to have a barber shop where people would not only come for the freshest hair cuts but
                would come for the experience that is never dull. Something about a barber shop is that it is not just a place to
                get faded up before a job interview. But to be able to get real motivation and advice by the person who has the power
                to make you hate or love your whole day. 2020 , I had this vision to provide just that to everyone. Today that vision
                has become reality. Come see for your self ,how dreams do really come true.
            </p>
        </section>
        <h1 style="font-size:3rem"> Whats special about us ? </h1>
        <section>
            <p style="font-size:2rem">
                Not only do we value , every single one of our guests. But we make sure that they have an experience they will never forget.
                At our shop only the finest barbers with the best attitudes have a spot to showcase their talent. Barbers go through
                intense training and tests, followed by a character evaluation, in order to take up a section in our office. Not only that
                we provide a special service for people who have an important event and simply can not make it to our shop. We bring the
                fade to you with our "Mobile Cut". Simply request us to meet you at your home and one of our many trust screened barbers
                will bring all equipment to your location and get the job done for anything needed.
            </p>
        </section>

    </div>
</body>
