
@{
    ViewBag.Title = "Index";

    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/HomeStyleSheet.css" />
<body class="box">
<div class="center">
    <h1 style="color: white">DIB CUTS</h1>
    <h1 style="color: white"> Your Local Barber Shop</h1>
    <h2 style="color: white">Dedicated to bringing you quality haircuts everytime</h2>
</div>
</body>
@*<a href ="/Account/Login">Login</a>
    <a asp-action="Register" asp-controller="Account">Register</a>*@

