
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/AboutUsStyleSheet.css" />
<body class="box">
    <div class="container">
        <h1 style="font-size:4rem; font-weight: 700; letter-spacing: 4Px; margin-bottom: 3rem;"> Services </h1>
        @*<h2 style="font-size:3rem;"> <em></em> </h2>*@
        <section>
            @*<div class="image">
                <img src="../images/PCAD2 Jonathan Garcia Picture-modified.png" width="400" height="400" alt="Jonathan Garcia" />
            </div>*@
            <h1 style="font-size:3rem"> Men's </h1>
            <p style="font-size:2rem">
                -Regular Hair Cut $25 <br />
                -Military Cut $15 <br />
                -Beard Trim $5 <br />
                -Reg Hair Cut And Beard $27 <br />
                -Men's Shape Up $3 <br />
                -Mobile Cut (starting at $30 plus distance)
            </p>
        </section>
        <h1 style="font-size:3rem"> Kid's</h1>
        <section>
            <p style="font-size:2rem">
                - Kid's Hair Cut $12 <br />
                - Kid's Shape Up $2
            </p>
        </section>
        <h1 style="font-size: 3rem">Products Sold In Store</h1>
        <section>

            <div class=">gallery">
                <a target="_blank" href="~/images/HairProduct1.jpg">
                    <img src="~/images/HairProduct1.jpg" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Johnny Slicks products help promote healthy hair growth, prevents future hair loss, and treats dandruff and dry skin.<br />US $18.00</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/images/beardproducts1.jpg">
                    <img src="~/images/beardproducts1.jpg" alt="Northern Lights" width="600" height="400">
                </a>
                <div class="desc"> Organic Beard Oil.This Beard Oil will cure that God-awful beard itch, promote healthy hair growth, soften your man mane, and help with any type of dry skin <br /> US $15</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="~/images/shampooconditionerproduct1.jpg">
                    <img src="~/images/shampooconditionerproduct1.jpg" alt="Mountains" width="600" height="400">
                </a>
                <div class="desc">Hair Cleaning Kit. Toxin-Free Ingredients, Non-Animal Tested, Handmade By...Hands, Ethically Sourced.<br /> US $13.50</div>
            </div>
        </section>
    </div>
</body>