.wrapper .center{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50% , -50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color:blue;
    font-size: 70px;
    font-family:Cambria;
    font-weight: bold;
    width: 900px;
    text-align:center;
    padding-left: 200px;

}.center h2{
    color:blue;
    font-size: 40px;
    font-family: Cambria;
    font-weight: bold;
    width: 855px;
    text-align:center;
    padding-left: 200px;
}
 .center .buttons
 {
     margin: 35px 280px;
   
 }
.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #ffb3b3;
    background: red;
}
.box{
    background-image: url(../images/barbershop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
    margin: 100px;
}